@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	list-style:none;
	text-decoration:none;
}

header {
	background-color:#929292;
	background-color: #F4F4F4;
	width: 100%;
	min-height: 400px;

	background-image: url('images/Erdbeere_5.jpg');
	background-repeat: no-repeat;
}

#headline{
	background-color:white;
	margin: 0 0 0 0;
	width: auto;
	padding: 0.5em;
	background-color: #F4F4F4;
	opacity: 1;

}

#headline_small{
	display:none;
}

#headline p{
	font-family: 'Dancing Script', cursive;
	font-size: 70pt;
	font-weight: 600;
	color: #590202;
	margin: 0;
}

#logo_img{
	width:20%;
	background-color: #F4F4F4;
	padding: 0.8em;
	max-height: 208px;
	max-width: 208px;
	float:left;
}

#logo {
	display: block;
	max-height: 200px;
	margin-left: 1%;
	opacity: 1;
}

#sidebar{
	float:left;
	width:20%;
	max-width:208px;
	margin-left: 1%;
	padding: 0.8em;

	background-color: #F4F4F4;
}

#main_content{
	margin-left: 1%;
	margin-right: 1%;
	padding:1%;
	background-color: #F4F4F4;
}

#main_content p{
	padding:1%;
}

#nav_toggle a {
	display: block;
	height: 100%;
	width: 100px;
	padding: 10px;
	margin: 0.3em;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: #7EE57E;
	border: 1px solid white;
}

.menue-button {
	display: none;
}

#nav_toggle {
	float:right;
	display:block;
	vertical-align: bottom;
	margin-bottom:0;

	
}

#nav_toggle li {
	list-style: none;
	float: left;
	display: inline-block;
}

#nav_toggle a:hover {
	color: black;
	background: #58A058;
}


@media only screen and (max-width:600px) {
	.menue-button {
		display: block;
	}

	.menue-button {
		background-color: #7EE57E;
		display: block;
		position:absolute;
		right: 0;
		top: 0;
		padding: 0.8em;
		color: white;
		cursor: pointer;
		text-decoration: none;
		border: 1px solid white;
	}

	#nav_toggle a {
		display: block;
		height: 100%;
		width: 100%;
		padding: 10px;
		margin: 0.2em;
		text-decoration: none;
		color: white;
		background-color: #7EE57E;
}
	
	#headline{
		display:none;
	}
	
	#headline_small{
		display:block;
		background-color:white;
		margin: 0 0 0 0;
		width: auto;
		padding: 0.5em;
		background-color: #F4F4F4;
		opacity: 1;	
	}
	
	#headline_small p{
		font-family: 'Dancing Script', cursive;
		font-size: 36pt;
		font-weight: 600;
		color: #590202;
		margin: 0;
	}

	#logo {
		width: 100%;
	}

	#nav_toggle {
		float: left;
		width: 100%;
		display: none;
	}

	#nav_toggle li {
		width: 100%;
	}

	.menue-button:hover {
		color: black;
		background: #58A058;
	}

	#sidebar{
		display:none;
	}

	#main_content{
		width:100%;
	}
}


#nav-menue:target #nav_toggle {
	display: block;
}

#nav-menue:target .menue-button-open {
	display: none;
}
