@import url('http://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	list-style:none;
	text-decoration:none;
}

header {
	background-color:#929292;
	background-color: #F4F4F4;
	width: 100%;
	float: left;
	background-image: url('images/Erdbeere_5.jpg');
	background-repeat: no-repeat;
}

#head_elements{
	max-height:250px;
}

#sidebar{
	float:left;
	width:20%;
	padding: 0.8em;
	font-size: 0.9em;
	background-color: #F4F4F4;
	height: 100%;
	margin-left: 1%;
}

#main_content{
	float:right;
	width:75%;
	background-color: #F4F4F4;
	margin-top:1em;
	height: 100%;
}

#logo {
	display: block;
	padding: 0.8em;
	margin-left: 0.5em;
	padding: 0;
	max-height: 220px;
}

#nav_toggle a {
	display: block;
	height: 100%;
	width: 100px;
	padding: 10px;
	margin: 0.3em;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: #7EE57E;
	border: 1px solid white;
}
	
.menue-button {
	display: none;
}
		
#nav_toggle {
	float:right;
	
}

#nav_toggle li {
	list-style: none;
	float: left;
	display: inline-block;
}

#nav_toggle a:hover {
	color: black;
	background: #58A058;
}
	
	
@media only screen and (max-width:600px) {
	.menue-button {
		display: block;
	}
	
	.menue-button {
		background-color: #7EE57E;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0.8em;
		color: white;
		cursor: pointer;
		text-decoration: none;
		border: 1px solid white;
	}
	
	#nav_toggle a {
		display: block;
		height: 100%;
		width: 100%;
		padding: 10px;
		margin: 0.2em;
		text-decoration: none;
		color: white;
		background-color: #7EE57E;
}
	
	#logo {
		width: 100%;
	}
	
	#nav_toggle {
		float: left;
		width: 100%;
		display: none;
	}
	
	#nav_toggle li {
		width: 100%;
	}
	
	.menue-button:hover {
		color: black;
		background: #58A058;
	}
	
	#sidebar{
		display:none;
	}
	
	#main_content{
		width:100%;
	}
}


#nav-menue:target #nav_toggle {
	display: block;
}

#nav-menue:target .menue-button-open {
	display: none; 
}	

h1, p {
	margin: 5px;
}


#logo_img{
	width:20%;
	background-color: #F4F4F4;
	padding: 0.8em;
	margin: 0;
	max-height: 208px;
	max-width: 208px;
}