@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Aclonica);

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	list-style:none;
	text-decoration:none;
}

html, body{
	margin:0 auto;
	padding: 0;
	background-color:#CDD8CD;
	height:100%;
}

header {
	background-color:#929292;
	background-color: #F4F4F4;
	width: 100%;
	min-height: 335px;

	background-image: url('images/Erdbeere_5.jpg');
	background-repeat: no-repeat;
}

#headline{
	background-color:white;
	width: auto;
	padding: 0.5em;
	background-color: #F4F4F4;
	min-height:100px;
}

#headline_small{
	display:none;
}

#headline p{
	font-family: 'Dancing Script', cursive;
	font-size: 70pt;
	font-weight: 600;
	color: #590202;
	margin: 0;
	width:100%;
	text-align:center;
}

#logo_img{
	width:20%;
	background-color: #F4F4F4;
	padding: 0.8em;
	max-height: 208px;
	max-width: 208px;
	float:left;
	margin-left:1%;
}

#logo {
	display: block;
	max-height: 200px;
}

#main{
	max-width:960px;
	margin: 0 auto;
	background-color: #F4F4F4;
}

#main_fill{
	clear:both;
	height:100%;
	background-color: #F4F4F4;
}

#sidebar{
	float:left;
	width:20%;
	max-width:208px;
	margin-left: 0.8em;
	padding:1%;
	background-color: #F4F4F4;
}

#main_content{
	margin-right: 1%;
	margin-left:23%;
	padding: 1%;
	background-color: #F4F4F4;
	width:auto;
}

#main_content p{
	padding:1%;
}

#nav_toggle a {
	display: block;
	height: 100%;
	width: 100px;
	padding: 10px;
	margin: 0.3em;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: #7EE57E;
	border: 1px solid white;
}

.menue-button {
	display: none;
}

#nav_toggle {
	float:right;
	display:block;
	vertical-align: bottom;
	margin-bottom:0;
	margin-right: 1%;
}

#nav_toggle li {
	list-style: none;
	float: left;
	display: inline-block;
}

#nav_toggle a:hover {
	color: black;
	background: #58A058;
}

footer{
	clear:both;
	width:100%;
	background-color: #F4F4F4;
	border-top: 1px solid black;
	text-align:center;
}


@media only screen and (max-width:600px) {
	.menue-button {
		display: block;
	}

	.menue-button {
		background-color: #7EE57E;
		display: block;
		position:absolute;
		right: 0;
		padding: 0.8em;
		color: white;
		cursor: pointer;
		text-decoration: none;
		border: 1px solid white;
	}
	
	#main{
		width:100%;
	}
	
	#main_content{
		width: 100%;
		margin:0;
	}

	#nav_toggle a {
		display: block;
		height: 100%;
		width: 100%;
		padding: 10px;
		margin: 0.2em;
		text-decoration: none;
		color: white;
		background-color: #7EE57E;
}
	
	#headline{
		display:none;
	}
	
	#headline_small{
		display:block;
		background-color:white;
		margin: 0 0 0 0;
		width: auto;
		padding: 0.5em;
		background-color: #F4F4F4;
		opacity: 1;	
	}
	
	#headline_small p{
		font-family: 'Dancing Script', cursive;
		font-size: 38pt;
		font-weight: 600;
		color: #590202;
		margin: 0;
	}

	#logo {
		width: 100%;
	}

	#nav_toggle {
		float: left;
		width: 100%;
		display: none;
	}

	#nav_toggle li {
		width: 100%;
	}

	.menue-button:hover {
		color: black;
		background: #58A058;
	}

	#sidebar{
		display:none;
	}

	#main_content{
		width:100%;
	}
}


#nav-menue:target #nav_toggle {
	display: block;
}

#nav-menue:target .menue-button-open {
	display: none;
}

/*KONTAKTFORMULAR*/
#formular_liste{
	padding:1%;
	width:70%;
	margin: 0 auto;
}
.kontakt_label{
	display:block;
	font-weight:bold;
	padding: 1%;
	font-size:12pt;
}
.kontakt_input{
	padding:1%;
	font-size:14px;
	width:75%;
}
.submit{
	padding:1%;
}
#kontakt_bild{
	width:35%;
	margin: 0 auto;
	float:right;
}
/*ENDE KONTAKTFORMULAR*/



/*NEWS*/
.page-wrapper { 
	width: 95%; 
	max-width: 1100px; 
	margin: 0 auto 0 2em; 
	position: relative; 
	padding: 6em 0 10em; 
}
.inhalt {
	width: 90%; 
	float:left;
}
.unterschrift { 
	font-family: 'Dancing Script', cursive; 
	font-weight: 600; 
	font-size: 1.8em; 
	margin: 0 0 2.5em 0.5em; 
}
.time {
	font-size: 110%; 
	font-family: sans-serif; 
	font-weight: 600;
	margin: 0.5em 0 0 0;
}
h2 { 
	color: #590202; 
	font-size: 20pt; 
	margin-top:1em;
	margin-bottom:1em;
}
h3 { 
	font-family: 'Aclonica', sans-serif; 
	font-size: 14pt; 
	margin-bottom:1em;
	margin-top:1em;
}
.platzhalter {
	font-size: 40pt; 
}
.entry-date { 
	font-style: italic; 
	font-size: 10pt; 
	color: #a6a6a6 ; 
	margin: 0; 
	padding: 0;
}
iframe{
	width:100%;
}

/*INFOS*/
#feld_1{
	width:33%;
	height:auto;
	float:right
}
input.info_erweitern {
  display:inline-block;
  margin:0px;
  padding:0px;
}
.anzeigen {
  background-color:white;
  padding:15px 30px;
  margin:10px 0px 0px;
  display:none;
}
input.info_erweitern:checked + .anzeigen {
  display:block;
}
#stand_1{
	width:60%;
	height:auto;
	text-align:center;
	display:block;
	margin:auto;
	padding:1%;
}

/*UEBERUNS*/
#ueber_uns_1{
	float:right;
	width:40%;
	height:auto;
}
#erdbeere_2{
	width:40%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#erdbeere_7{
	width:20%;
	height:auto;
	float:left;
	margin:2%;
}
#erdbeere_6{
	width:30%;
	height:auto;
	float:right;
	margin:2%;
}