@font-face{
    font-family: 'Dancing Script';
    src: url('fonts/Dancing_Script_regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Aclonica';
    src: url('fonts/Aclonica_regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.otf') format('truetype');
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	text-decoration:none;
	list-style-position: inside;
}

html, body{
	margin:0 auto;
	padding: 0;
	background-color:#fffad5;
	height:100%;
	max-width:960px;
}


header {
	background-color:#929292;
	background-color: #F4F4F4;
	width: 100%;
	min-height: 335px;

	background-image: url('images/Erdbeere_5.jpg');
	background-repeat: no-repeat;
}

footer{
    clear:both;
    max-width:960px;
    min-height:4em;
    background-color: #F4F4F4;
    border-top: 1px solid #B8B8B8;

    padding: 1em;
    text-align:center;
    font-size:9pt;
    color:#590202;
}
#impressum{
    float:left;
    width:50%;
}
#impressum_2{
    float:right;
    width:50%;
}
#impressum li{
    list-style:none;
}

#headline{
	background-color:white;
	width: auto;
	padding: 0.5em;
	background-color: #F4F4F4;
	min-height:100px;
}

#headline p{
	font-family: 'Dancing Script', cursive;
	font-size: 70pt;
	font-weight: 600;
	color: #590202;
	margin: 0;
	width:100%;
	text-align:center;
}

#logo_img{
	width:20%;
	background-color: #F4F4F4;
	padding: 0.8em;
	max-height: 208px;
	max-width: 208px;
	float:left;
	margin-left:1%;
}

#logo {
	display: block;
	max-height: 200px;
}

#main{
	margin: 0 auto;
	background-color: #F4F4F4;
  padding-bottom: 150px;
}

#main_fill{
	clear:both;
	height:100%;
	background-color: #F4F4F4;
}

#main_content{
	margin-right: 1%;
	margin-left:23%;
	padding: 1%;
	background-color: #F4F4F4;
	width:auto;
}

#main_content p{
	padding:1%;
}

.news img{
  height: 35px;
  width: auto;
	float: left;
	margin: 0;
	padding: 0;
}

/* SIDEBAR */
#sidebar {
	float:left;
	font-size: 0.9em;
	width:20%;
	max-width:208px;
	margin-left: 0.8em;
	margin-top: 2em;
	padding:1%;
	background-color: #F4F4F4;
}

#sidebar a {
	color: #bf0413
}

#sidebar_stand, #sidebar_suche, #sidebar_doku {
		border-top-style: groove;
		border-bottom-style: groove;
}

.zeit{
		font-style: italic;
		font-size: 14pt;
		color: #590202 ;
		margin: 1em 0 1em 0;
}
/* ENDE SIDEBAR */

#nav_toggle a {
	display: block;
	height: 100%;
	width: 100px;
	padding: 10px;
	margin: 0.3em;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: #006b15;
	border: 1px solid white;
}

.menue-button {
	display: none;
}

#nav_toggle {
	float:right;
	display:block;
	vertical-align: bottom;
	margin-bottom:0;
	margin-right: 1%;
}

#nav_toggle li {
	list-style: none;
	float: left;
	display: inline-block;
}

#nav_toggle a:hover {
	color: black;
	background: #58A058;
}



@media only screen and (max-width:600px) {
	.menue-button {
		display: block;
	}

	.menue-button {
		background-color: #006b15;
		display: block;
		position:absolute;
		right: 0;
		padding: 0.8em;
		color: white;
		cursor: pointer;
		text-decoration: none;
		border: 1px solid white;
	}

	#main{
		width:100%;
	}

	#main_content{
		width: 100%;
		margin:0;
	}

	#nav_toggle a {
		display: block;
		height: 100%;
		width: 100%;
		padding: 10px;
		margin: 0.2em;
		text-decoration: none;
		color: white;
		background-color: #006b15;
	}

	#headline{
		display:block;
		margin: 0 0 0 0;
		width: auto;
	}

	#headline p{
		font-family: 'Dancing Script', cursive;
		font-size: 38pt;
		font-weight: 600;
		color: #590202;
		margin: 0;
	}

	#nav_toggle {
		float: left;
		width: 100%;
		display: none;
	}

	#nav_toggle li {
		width: 100%;
	}

	.menue-button:hover {
		color: black;
		background: #58A058;
	}

	#sidebar{
		display:none;
	}

	#main_content{
		width:100%;
	}
}


#nav-menue:target #nav_toggle {
	display: block;
}

#nav-menue:target .menue-button-open {
	display: none;
}

/*KONTAKTFORMULAR*/
#formular_liste{
	padding:1%;
	width:70%;
	margin: 0 auto;
}

.kontakt_label{
	display:block;
	font-weight:bold;
	padding: 1%;
	font-size:12pt;
}

.kontakt_input{
	padding:1%;
	font-size:14px;
	width:75%;
}

.submit{
	padding:1%;
}

#kontakt_bild{
	width:35%;
	margin: 0 auto;
	float:right;
}
/*ENDE KONTAKTFORMULAR*/



/*NEWS*/
.page-wrapper {
	width: 95%;
	max-width: 1100px;
	margin: 0 auto 0 2em;
	position: relative;
	padding: 6em 0 10em;
}

.inhalt {
	width: 90%;
	float:left;
}

.unterschrift {
	font-family: 'Dancing Script', cursive;
	font-weight: 600;
	font-size: 1.8em;
	margin: 0 0 2.5em 0.5em;
}

.time {
	font-size: 110%;
	font-family: sans-serif;
	font-weight: 600;
	margin: 0.5em 0 0 0;
}

h2 {
	color: #590202;
	font-size: 20pt;
	margin-top:1em;
}

h3 {
	font-family: 'Aclonica', sans-serif;
	font-size: 14pt;
	margin-bottom:1em;
	margin-top:1em;
}

.platzhalter {
	font-size: 40pt;
}

.entry-date {
	font-style: italic;
	font-size: 10pt;
	color: #a6a6a6 ;
	margin: 0;
	padding: 0;
	margin-bottom:1em;
}

iframe{
	width:100%;
	margin: 0 0 0 1%;
}

/*INFOS*/
#feld_1{
	width:55%;
	height:auto;
	float:right;
	margin: 2% 0 2% 0;
}

input.info_erweitern {
  display:inline-block;
  margin:0px;
  padding:0px;
}

.anzeigen {
  background-color:white;
  padding:15px 30px;
  margin:10px 0px 0px;
  display:none;
}

input.info_erweitern:checked + .anzeigen {
  display:block;
}

#stand_1{
	width:100%;
	height:auto;
	float: left;
	margin: 2% 2% 2% 0;
}

/*UEBERUNS*/
#ueber_uns_1{
	float:right;
	width:80%;
	height:auto;
}
#erdbeere_2{
	width:65%;
	height:auto;
	float: right;
	margin: 2% 0 0 0;
}
#erdbeere_7{
	width:50%;
	height:auto;
	float:left;
	margin: 1% 1% 0 0.5%;
}
#erdbeere_6{
	width:35%;
	height:auto;
	float:right;
	margin:2%;
}

#farbpalette {
  width: 100%;
  height: auto;
}
